
*.pyc

doc/~$TTTimes.xlsx

output/*.json
output/*.pickle
output/*.dot
output/*.pdf
docs/build
.DS_Store

.idea/*
.ipynb_checkpoints/*
venv/*

settings.json
tags

.vscode
output/graph.dot
*.code-workspace

*.log
